<nav class="nav-extended" #componentNav>
    <div class="nav-wrapper">
        <a 
            class="brand-logo" 
            (click)="onBrandClick.emit()"
            [innerHTML]="trustHTML(data.brand)"></a>
        <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li *ngFor="let link of data.links;"><a [attr.href]="link.href"> {{link.title}} </a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li *ngFor="let link of data.links"><a [attr.href]="link.href"> {{link.title}} </a></li>
        </ul>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li 
                *ngFor="let tab of data.tabs;" 
                [ngClass]="{
                    'active': tab.active,
                    'disabled': tab.disabled
                }"
                class="tab">
                <a (click)="tabCliked($event, tab.url)">{{tab.title}}</a>
            </li>
        </ul>
    </div>
</nav>